@inject IJSRuntime js
@inject PobytneService service

@if(permition is not null)
{
    <h3>Module name: @permition.ModuleName</h3>
    <h1>@pString</h1>
    <EditForm Model="@model" OnValidSubmit=OnValidSubmitHandler>
    <DataAnnotationsValidator />

        <div class="row align-items-start m-3">
            <div class="col">

                <HxSelect TItem="UserRecord"
                          TValue="int?"
                          Label="User"
                          Data="@userList"
                @bind-Value="@model.userId"
                          TextSelector="@(u => u.userName)"
                          ValueSelector="@(u => u.id)"
                          Nullable="true"
                          NullText="-select name-"
                          NullDataText="Loading users..." 
                          Enabled="formType == FormEnum.Insert" />
            </div>
        </div>        
        @foreach (EPermition rec in Enum.GetValues(typeof(EPermition)))
        {
    
            <div class="row align-items-start">
                    <div class="col">
                    <p>@accessList[rec].PermitionString</p>
                    </div>
                    <div class="col">

                        <HxSelect TItem="AccessRecord"
                                  TValue="EAccess"
                                  Data="@access"
                    @bind-Value="@accessList[rec].Access"
                                  TextSelector="@(p => p.accessStr)"
                                  ValueSelector="@(p => p.accesVal)"
                                  Nullable="false"/>
                    </div>
                </div>
        }
        <div class="d-grid gap-2">
            <HxSubmit Color="ThemeColor.Success">@ButtonText</HxSubmit>
        </div>
    </EditForm>
}

@code {
    [CascadingParameter]
    private ModuleWorkplace moduleWorkplace { get; set; } = default!;

    [EditorRequired]
    [Parameter]
    public FormEnum formType { get; set; }
    [EditorRequired]
    [Parameter]
    public EventCallback<FormEnum> OnValidSubmit { get; set; }
    [EditorRequired]
    [Parameter]
    public Permition? permition{ get; set; }

    private UserModel model = new();
    private Dictionary<EPermition, PermitionRecord> accessList { get; }
    private List<UserRecord> userList = new(); //HxSelect component
    private List<AccessRecord> access = new(); //HxSelect component
    private string ButtonText
    {
        get
        {
            if (formType == FormEnum.Insert) return "Insert";
            return "Update";
        }
    }

    private record AccessRecord(string accessStr, EAccess accesVal);
    private record UserRecord(string userName,int id);
    private class UserModel
    {
        [Required(ErrorMessage = "Choose a user.")]
        public int? userId { get; set; }
    }
    private class PermitionRecord {
        public string PermitionString { get; set; }
        public EAccess Access { get; set; }
        public PermitionRecord(string permitionStr)
        {
            PermitionString = permitionStr;
            Access = EAccess.NoAccess;
        }
    }

    private string pString = String.Empty;
    private async Task OnValidSubmitHandler()
    {
        if(permition is not null && model.userId.HasValue)
        {
            permition.UserId = model.userId.Value;
            GetPermitionString();
            pString = permition.PermitionString;

            await OnValidSubmit.InvokeAsync(formType);// TODO: dodelat update a insert pro permition

        }
    }

    public PermitionForm()
    {
        accessList = new Dictionary<EPermition, PermitionRecord>();
        accessList[EPermition.Aplication] = new PermitionRecord("Nastavení aplikace");
        accessList[EPermition.License] = new PermitionRecord("Seznam licencí");//TOTO: kdo eviduje liccence
        accessList[EPermition.LoginUser] = new PermitionRecord("Seznam uživatelů aplikace");
        accessList[EPermition.Module] = new PermitionRecord("Seznam modulů");
        accessList[EPermition.Permition] = new PermitionRecord("Seznam oprávnění");
        accessList[EPermition.PropertiesRecord] = new PermitionRecord("Seznam účetní spefikace");
        accessList[EPermition.PaymentType] = new PermitionRecord("Typy plateb");
        accessList[EPermition.Record] = new PermitionRecord("Seznam záznamů");
        accessList[EPermition.EvidenceMotion] = new PermitionRecord("Sklad zboží");
        accessList[EPermition.CashMotion] = new PermitionRecord("Vedlejší pokladna");
        accessList[EPermition.Customer] = new PermitionRecord("Seznam klientů");
        accessList[EPermition.Evidence] = new PermitionRecord("Evidence záznamů");
        accessList[EPermition.Pernament] = new PermitionRecord("Permanentky");
        accessList[EPermition.EvidenceSummary] = new PermitionRecord("Souhrny evidence");
        accessList[EPermition.CashSummary] = new PermitionRecord("Souhrny druhů plateb");
        accessList[EPermition.PernamentSummary] = new PermitionRecord("Souhrny permanentky");
        accessList[EPermition.ContractReportSummary] = new PermitionRecord("Souhrny dohody - zprávy");
        accessList[EPermition.EvidenceStorageSummary] = new PermitionRecord("Souhrny stavu zásob");
        accessList[EPermition.Contract] = new PermitionRecord("Dohody vpp");
        accessList[EPermition.ContractPerson] = new PermitionRecord("Dohody - osoby");
        accessList[EPermition.ContractSupplement] = new PermitionRecord("Dohody - přílohy");
        accessList[EPermition.ContractSeason] = new PermitionRecord("Dohody dle období");
        accessList[EPermition.ContractReport] = new PermitionRecord("Dohody - zprávy");

        access = new List<AccessRecord>
        {
            new AccessRecord("Bez přístupu",EAccess.NoAccess),
            new AccessRecord("Jen pro čtení",EAccess.ReadOnly),
            new AccessRecord("Plný přístup",EAccess.FullAccess),
        };
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && permition is not null)
        {
            LoadPermition();
            if (permition.UserId > 0)
                await LoadUsers(permition.UserId);
            else
                await LoadUsers();
        }
    }
    private async Task LoadUsers(int id = -1)
    {
        if(permition is not null)
        {
            userList.Clear();

            if (id > 0)
            {
                User? u = await service.GetByIdAsync<User>(id,moduleWorkplace.Id) as User;

                userList.Add(new UserRecord(u.UserName, u.Id));
                model.userId = id;
            }
            else
            {   
                int module = permition.ModuleId;
                List<User>? users = await service.GetAllAsync<User>($"GetRest?moduleId={module}", moduleWorkplace.Id) as List<User>;// TODO: dodelat ErrorResult handlery


                if(users is not null)
                {
                    foreach (var u in users)
                    {
                        userList.Add(new UserRecord(u.UserName,u.Id));
                    }                  
                }
            }
            StateHasChanged();
        }
    }

    private void LoadPermition()
    {
        if(permition is not null)
        {
            @foreach (EPermition pe in Enum.GetValues(typeof(EPermition)))
            {
                if(permition.PermitionString.Length > (int)pe)
                    switch (permition.PermitionString[((int)pe)])
                    {
                        case '1': accessList[pe].Access = EAccess.ReadOnly; break;
                        case '2': accessList[pe].Access = EAccess.FullAccess; break;
                        default: accessList[pe].Access = EAccess.NoAccess; break;
                    }
                else
                    accessList[pe].Access = EAccess.NoAccess;
            }
        }
    }
    private void GetPermitionString()
    {
        if(permition is not null)
        {            
            int capacity = 50; // Setting the lenght of PermitionString 
            var sb = new StringBuilder(capacity);
            foreach (EPermition pe in Enum.GetValues(typeof(EPermition)))
                sb.Append((char)accessList[pe].Access);

            while (sb.Length < capacity)
                sb.Append('0');

            permition.PermitionString = sb.ToString();
        }
    }
}
