@page "/Account"
@inject PobytneService service
@inject IJSRuntime js


<AuthorizeView>
	<Authorized>
        <HxCard CssClass="floating-card">
            <BodyTemplate>
                <HxCardTitle>Můj účet</HxCardTitle>
                <HxCardSubtitle CssClass="mb-2 text-muted">@context.User.Claims.FirstOrDefault(c => c.Type == "License")?.Value</HxCardSubtitle>
                <HxCardText>
                    <p>Login: @context.User.Claims.FirstOrDefault(c=> c.Type == ClaimTypes.Name)?.Value</p>
                    <p>Id uživatele:, @context.User.Claims.FirstOrDefault(c=> c.Type == ClaimTypes.Sid)?.Value</p>
                    <p>Email: @context.User.Claims.FirstOrDefault(c=> c.Type == ClaimTypes.Email)?.Value</p>
                    <p>Jméno uživatele: @context.User.Claims.FirstOrDefault(c=> c.Type == ClaimTypes.GivenName)?.Value</p>
                </HxCardText>
            </BodyTemplate>
        </HxCard>
        <div class="w-100 m-2"/>
	</Authorized>
</AuthorizeView>






@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; } = default!;

}