@page "/EditLicenses"
@attribute [Authorize]
@inject PobytneService service
@inject IAuthorizationService authService
@inject IHxMessengerService Messenger
@inject IHxMessageBoxService MessageBox

<PageTitle>Správa licencí</PageTitle>

<div class="row">
    <div class="col-3 h-max" style="max-width:35rem;">
        <HxTreeView TItem="IDirectory"
                    SelectedItemChanged="OnSelect"
                    Items="@fileSystem"
                    CssClass="p-3 card floating-card h-auto"
                    ItemTitleSelector="@(p => p.Name)"
                    ItemIconSelector="@(p => p.Icon)"
                    ItemChildrenSelector="@(p => p.SubDirectories)" />
    </div>
    <div class="col">
        <ListCustom 
            ListTitle="@listTitle" 
            ListItems=@listOfItems 
            selectedItem=selectedItem 
            selectedItemChanged=OnItemSelect 
            EventNewItem="OnNewItem">

            <MenuGridColumn>
                <HxContextMenuGridColumn TItem="IListItem" Context="item" ItemCssClass="d-flex justify-content-evenly">
                    @if(selectedDirectory is not UserDir){
                        <HxButton Icon="@BootstrapIcon.Trash" style="color:red; padding: 0px;" Color="ThemeColor.Link" Tooltip="Smazat" OnClick="async()=>await DeleteItemClicked(item)"/>
                    }
                    else
                    {
                        <HxButton Icon="@BootstrapIcon.Trash" style="color:#a3a3a3; padding: 0px;" Enabled="false" Color="ThemeColor.Link"/>
                    }
                </HxContextMenuGridColumn>
            </MenuGridColumn>

        </ListCustom>
    </div>
</div>
<FormModal formItem="formItem" @ref=formModal OnSuccessRequest="OnSuccessRequestHandler"></FormModal>

<style>
    .scrollable-table-container {
		max-height: 80svh;
		overflow: auto;
	}
</style>
@code {
    [CascadingParameter]
    private ModuleWorkplace moduleWorkspace { get; set; } = default!;
    [CascadingParameter]
    private Task<AuthenticationState> authState { get; set; } = default!;

    private IDirectory? selectedDirectory;
    private IListItem? selectedItem;
    private IListItem? formItem;
    private List<IListItem>? listOfItems;
    private List<Directory> fileSystem = new();
    private FormModal? formModal;

    private string listTitle
    {
        get
        {
            switch (selectedDirectory)
            {
                case Directory d:
                    return "Počet licencí";
                case LicenseDir l:
                    return "Počet modulů";
                case UserDir u:
                    return "Počet uživatelů";
                case ModuleDir m:
                    return "Počet oprávnění";
                default:
                    return string.Empty;
            }
        }
    }
    private EPermition deletePermition = EPermition.License;

    protected override async Task OnInitializedAsync()
    {
        moduleWorkspace.Id = -1;
        fileSystem = new List<Directory>() { new Directory(service, "Pobytné licence") };
        await fileSystem[0].OnSelect();
    }
    private async Task OnSelect(IDirectory e)
    {
        selectedDirectory = e;

        await selectedDirectory.OnSelect();
        listOfItems = selectedDirectory.ItemsList;  
        switch (e)
        {
            case ModuleDir m:
                deletePermition = EPermition.Permition;
                break;
            case LicenseDir l:
                deletePermition = EPermition.Module;
                break;
            case Directory d:
                deletePermition = EPermition.License;
                break;
        }

    }
    private async Task OnItemSelect(IListItem i)
    {
        if(i is not null && formModal is not null)
        {
            formItem = (IListItem)i.Clone();
            await formModal.UpdateForm();            
        }
        selectedItem = null;
    }
    private async Task OnNewItem()
    {
        if(selectedDirectory is not null && formModal is not null)
        {
            formItem = selectedDirectory.GetNew();
            await formModal.InsertForm();            
        }
    }
    private async Task OnSuccessRequestHandler((IListItem,EForm) item)
    {
        switch (item.Item2)
        {
            case EForm.Insert:
                selectedDirectory?.Insert(item.Item1);
                break;
            case EForm.Update:
                selectedDirectory?.Update(item.Item1);
                break;
        }

        await OnSelect(selectedDirectory!); // Update ListCustom          

        StateHasChanged();// Update TreeView
    }
    private async Task DeleteItemClicked(IListItem deleteItem)
    {
        var user = (await authState).User;
        if (!(await authService.AuthorizeAsync(user,(deletePermition,EAccess.FullAccess,moduleWorkspace.ModuleId),"PermitionPolicy")).Succeeded)
        {
            Messenger.AddError(title: "Přístup odmítnut", message: "Nemáte dostatečná oprávnění pro smazání záznamu.");
            return;
        }

        var deleteMessage = await MessageBox.ShowAsync("Smazat položku",$"Opravdu chcete smazat položku: {deleteItem.Name}", MessageBoxButtons.YesNo);
        if (deleteMessage == MessageBoxButtons.No)
            return;

        object? response;
        switch (deleteItem)
        {
            case License l:
                response = await service.DeleteAsync<License>(l.Id, moduleWorkspace.Id);
                break;
            case Module m:
                response = await service.DeleteAsync<Module>(m.Id, moduleWorkspace.Id);
                break;
            case Permition p:
                response = await service.DeleteAsync<Permition>(p.Id, moduleWorkspace.Id);
                break;
            default:
                return;
        }
        if(response is ErrorResponse error)
            Messenger.AddError(title: "Chyba při smazáni", message: error.ErrorMessage );
        else
        {
            selectedDirectory!.Delete(deleteItem);
            await OnSelect(selectedDirectory!);// Update ListCustom   
            StateHasChanged();//Update TreeView

            Messenger.AddInformation(title: "Vše v pořádku", message: "Záznam byl úspěšně smazán.");
            await Task.Delay(1500);
            Messenger.Clear();
        }
    }
}