@page "/{idModule}/"
@attribute [Authorize]
@inject ILocalStorageService localStorage
@inject PobytneService service


<PageTitle>@moduleWorkspace.Name</PageTitle>

<div class="container mt-5">
    <h2 class="headline"> Dostupné akce</h2>
    <h4 class="headline text-center mb-3">@moduleWorkspace.Name</h4>
    <div class="row">
        <div class="col">
            <AuthorizeView Policy="PermitionPolicy" Resource=(EPermition.Evidence,EAccess.ReadOnly,idModule)>
                <Authorized>
                    <a href="@idModule/Records" class="no-link">
                        <div class="card floating-card">
                            <div class="card-body p-5 text-center">
                                <HxIcon Icon="@BootstrapIcon.Book" />
                                <h5 class="card-title">Evidence</h5>
                            </div>
                        </div>
                    </a>
                </Authorized>
                <NotAuthorized>
                    <div class="card floating-card disabled">
                        <div class="card-body p-5 text-center">
                            <HxIcon Icon="@BootstrapIcon.Book" />
                            <h5 class="card-title">Evidence</h5>
                        </div>
                    </div>
                </NotAuthorized>
            </AuthorizeView>
        </div>
        <div class="col">
            <AuthorizeView Policy="PermitionPolicy" Resource=(EPermition.Client,EAccess.ReadOnly,idModule)>
                <Authorized>
                <a href="@idModule/Clients" class="no-link">
                    <div class="card floating-card">
                        <div class="card-body p-5 text-center">
                            <HxIcon Icon="@BootstrapIcon.People" />
                            <h5 class="card-title">Klienti</h5>
                        </div>
                    </div>
                </a>
         
                </Authorized>
                <NotAuthorized>
                    <div class="card floating-card disabled">
                        <div class="card-body p-5 text-center">
                            <HxIcon Icon="@BootstrapIcon.People" />
                            <h5 class="card-title">Klienti</h5>
                        </div>
                    </div>
                </NotAuthorized>
            </AuthorizeView>
        </div>
        <div class="col">
            <AuthorizeView Policy="PermitionPolicy" Resource=(EPermition.SeasonTicket,EAccess.ReadOnly,idModule)>
                <Authorized>
                <a href="@idModule/SeasonTicket" class="no-link">
                    <div class="card floating-card">
                        <div class="card-body p-5 text-center">
                            <HxIcon  Icon="@BootstrapIcon.Clipboard2Check" />
                            <h5 class="card-title">Permanentky</h5>
                        </div>
                    </div>
                </a>
                </Authorized>
                <NotAuthorized>
                    <div class="card floating-card disabled">
                        <div class="card-body p-5 text-center">
                            <HxIcon Icon="@BootstrapIcon.Clipboard2Check" />
                            <h5 class="card-title">Permanentky</h5>
                        </div>
                    </div>
                </NotAuthorized>
            </AuthorizeView>
        </div>
    <div class="w-100 mt-3"/>
        <div class="col">
            <AuthorizeView Policy="PermitionPolicy" Resource=(EPermition.Record,EAccess.ReadOnly,idModule)>
                <Authorized>
                    <a href="@idModule/RecordSettings" class="no-link">
                        <div class="card floating-card">
                            <div class="card-body p-5 text-center">
                                <HxIcon Icon="@BootstrapIcon.Gear" />
                                <h5 class="card-title">Evidence položek</h5>
                            </div>
                        </div>
                    </a>
                </Authorized>
                <NotAuthorized>
                    <div class="card floating-card disabled">
                        <div class="card-body p-5 text-center">
                            <HxIcon Icon="@BootstrapIcon.Gear" />
                            <h5 class="card-title">Evidence položek</h5>
                        </div>
                    </div>
                </NotAuthorized>
            </AuthorizeView>
        </div>
        <div class="col">
            <AuthorizeView Policy="PermitionPolicy" Resource=(EPermition.RecordAttribute,EAccess.ReadOnly,idModule)>
                <Authorized>
                    <a href="@idModule/IndexerSettings/Constant" class="no-link">
                        <div class="card floating-card">
                            <div class="card-body p-5 text-center">
                                <HxIcon Icon="@BootstrapIcon.CalculatorFill" />
                                <h5 class="card-title">Číselníky</h5>
                            </div>
                        </div>
                    </a>
                </Authorized>
                <NotAuthorized>
                    <AuthorizeView Policy="PermitionPolicy" Resource=(EPermition.PaymentType,EAccess.ReadOnly,idModule)>
                        <Authorized Context="auth_context">
                            <a href="@idModule/IndexerSettings/Payment" class="no-link">
                                <div class="card floating-card">
                                    <div class="card-body p-5 text-center">
                                        <HxIcon Icon="@BootstrapIcon.CalculatorFill" />
                                        <h5 class="card-title">Číselníky</h5>
                                    </div>
                                </div>
                            </a>
                        </Authorized>
                        <NotAuthorized Context="auth_context">
                                <div class="card floating-card disabled">
                                    <div class="card-body p-5 text-center">
                                        <HxIcon Icon="@BootstrapIcon.CalculatorFill" />
                                        <h5 class="card-title">Číselníky</h5>
                                    </div>
                                </div>
                        </NotAuthorized>
                    </AuthorizeView>
                </NotAuthorized>
            </AuthorizeView>
        </div>
        <div class="col">
            <AuthorizeView Policy="PermitionPolicy" Resource=(EPermition.EvidenceSummary,EAccess.ReadOnly,idModule)>
                <Authorized>
                    <a href="@idModule/CashRegisterReports" class="no-link">
                        <div class="card floating-card">
                            <div class="card-body p-5 text-center">
                                <HxIcon Icon="@BootstrapIcon.Wallet" />
                                <h5 class="card-title">Souhrny</h5>
                            </div>
                        </div>
                    </a>
                </Authorized>
                <NotAuthorized>
                    <div class="card floating-card disabled">
                        <div class="card-body p-5 text-center">
                            <HxIcon Icon="@BootstrapIcon.Wallet" />
                            <h5 class="card-title">Souhrny</h5>
                        </div>
                    </div>
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </div>
</div>
@code {
    [EditorRequired]
    [Parameter]
    public string idModule { get; set; } = "-1";
    [CascadingParameter]
    public ModuleWorkplace moduleWorkspace { get; set; } = default!;


    protected override void OnParametersSet()
    {
        moduleWorkspace.ModuleId = idModule;
        base.OnParametersSet();
    }

}