@page "/{idModule}/RecordSettings"
@inject PobytneService service

<ModuleNav idModule="@idModule" PageTitle="Evidence položek"></ModuleNav>

<AuthorizeView Policy="PermitionPolicy" Resource=(EPermition.Record,EAccess.ReadOnly,idModule)>
    <Authorized>

        <div class="row h-100">
            <div class="col-lg-3 mh-100 overflow-hidden">
                <HxTreeView TItem="IDirectory"
                            SelectedItemChanged="OnSelect"
                            OnItemExpanded="OnExpanded"
                            Items="@fileSystem"
                            CssClass="p-3 card floating-card h-auto"
                            ItemTitleSelector="@(p => p.Name)"
                            ItemIconSelector="@(p => p.Icon)"
                            ItemChildrenSelector="@(p => p.SubDirectories)" />
            </div>
            <div class="col-lg-9 mh-100 overflow-hidden">
                <ListCustom ListTitle="Počet záznamů" ListItems=@listOfItems selectedItem=selectedItem selectedItemChanged=OnItemSelect EventNewItem="OnNewItem"></ListCustom>
            </div>
        </div>
        <RecordMessageBox formItem="formItem" @ref=messageBox OnSuccessRequest="OnSuccessRequestHandler"/>
    </Authorized>
    <NotAuthorized>
        JSTE V NOACCESS MODU PRO  PRISTUP - APLICATION
    </NotAuthorized>
</AuthorizeView>
<style>
    .scrollable-table-container {
		max-height: 70svh;
		overflow: auto;
	}
</style>
@code {
    [EditorRequired]
    [Parameter]
    public string idModule { get; set; } = "-1";

    private IDirectory? selectedDirectory;
    private IListItem? selectedItem;
    private IListItem? formItem;
    private List<IListItem>? listOfItems;
    private List<RecordDir> fileSystem = [];

    private RecordMessageBox messageBox = new();

    private async Task OnSelect(IDirectory e)
    {
        this.selectedDirectory = e;
        if (selectedDirectory is not null)
        {
            await selectedDirectory.OnSelect();
            listOfItems = selectedDirectory.ItemsList;
        }
    }
    private async Task OnExpanded(IDirectory e)
    {
        if (e is not null)
        {
            await e.OnExpanded();
            StateHasChanged();
        }

    }
    private void ItemsChangedHandler(List<RecordDir> dir)
    {
        fileSystem = dir;
    }
    private async Task OnItemSelect(IListItem i)
    {
        if (i is not null)
        {
            formItem = i;
            await messageBox.UpdateForm();
        }
        selectedItem = null;
    }
    protected override async Task OnInitializedAsync()
    {
        fileSystem.Add(
            new RecordDir(
                service,
                new Record
                    {
                        Name = "Evidence",
                        Id = 0,
                        ModuleId = int.Parse(idModule),
                        RootId = 0,
                        ParentId = 0,
                        StructDepth = 0,
                    }
            )
            {
                Icon = BootstrapIcon.Archive
            }
        );
        await fileSystem[0].OnSelect();
    }
    private async Task OnNewItem()
    {
        if (selectedDirectory is not null)
        {
            formItem = selectedDirectory.GetNew();
            await messageBox.InsertForm();
        }
    }
    private async Task OnSuccessRequestHandler()
    {
        if (selectedDirectory is not null)
        {
            await selectedDirectory.AddNew();
            await OnSelect(selectedDirectory);
        }
        StateHasChanged();
    }
    //TODO: form
}

