<div style="position: absolute; top:0;left:0; width: 100%; display: flex;flex-direction: column; align-items: center;">
	<nav class="navbar navbar-expand-lg p-0">
		<div class="collapse dark" style="border-radius: 0 0 10px 10px; z-index:1500 ; " id="menuCollapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="icon-link nav-link text-white" href=@($"{idModule}/Records")>
						<HxIcon Icon="BootstrapIcon.Book"/>
						Evidence
					</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle icon-link text-white" href="#" id="KlientiDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						<HxIcon Icon="@BootstrapIcon.People" />
						Klienti
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li><a class="dropdown-item" href=@($"{idModule}/Clients")>Evidence klientů</a></li>
						<li><a class="dropdown-item disabled" href="#">Pernamentky</a></li>
					</ul>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle icon-link text-white" href="#" id="SmlouvyDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						<HxIcon Icon="@BootstrapIcon.Clipboard2Check" />
						Smlouvy
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li><a class="dropdown-item disabled" href="#">Evidence smluv</a></li>
						<li><a class="dropdown-item disabled" href="#">Roční plány</a></li>
						<li><a class="dropdown-item disabled" href="#">Karta klienta</a></li>
						<li><a class="dropdown-item disabled" href="#">Souhrn - smlouvy</a></li>
					</ul>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle icon-link text-white" href="#" id="PokladnaDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						<HxIcon Icon="@BootstrapIcon.Wallet" />
						Pokladna
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li><a class="dropdown-item disabled" href="#">Převod do pokladny</a></li>
						<li><a class="dropdown-item disabled" href="#">Evidence stavu zásob</a></li>
						<li><a class="dropdown-item disabled" href="#">Evidence položek</a></li>
					</ul>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle icon-link text-white" href="#" id="NastaveniDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						<HxIcon Icon="@BootstrapIcon.Gear" />
						Nastavení
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li><a class="dropdown-item" href=@($"{idModule}/RecordSettings")>Evidence položek</a></li>
						<li><a class="dropdown-item disabled" href="#">Číselník typu platby</a></li>
						<li><a class="dropdown-item disabled" href="#">Číselník konstatnt</a></li>
					</ul>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle icon-link text-white" href="#" id="SouhrnyDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						<HxIcon Icon="@BootstrapIcon.CalculatorFill" />
						Souhrny
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li><a class="dropdown-item" href=@($"{idModule}/CashRegisterReports")>Souhrny plateb</a></li>
						<li><a class="dropdown-item" href=@($"{idModule}/EvidenceReports")>Souhrny evidence</a></li>
						<li><a class="dropdown-item disabled" href="#">Souhrny čerpání pernamentky</a></li>
						<li><a class="dropdown-item" href=@($"{idModule}/RecordReports")>Souhrny stavu zásob</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>
	<div style="display: flex; justify-content: space-evenly; z-index:1500;">
		<a data-bs-toggle="collapse" href="#menuCollapse" role="button" aria-expanded="false" aria-controls="menuCollapse">
			<div class="dark" style="padding-left:25px; padding-right: 25px; width: fit-content;border-radius: 0 0 10px 10px;">
					<HxIcon Icon="@BootstrapIcon.ThreeDots" />
			</div>
		</a>
	</div>
</div>
<style>
	a{
		color:white;	
		text-decoration:unset;
	}

	li.nav-item{
		margin-inline:0.5rem;
	}
	div.dark{
		background-color: #0a1725;
		color:#fff;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	}

</style>
@code {
	[Parameter]
	[EditorRequired]
	public string idModule { get; set; } = "-1";

}
